* {
    margin: 0;
    padding: 0;
}

.new-item-icon {
    margin-left: 10px;
}

.login-btn{
    margin-left: 100px;
}

.signup-btn{
    margin-left: 20px;
}

.account-btn{
    margin-right:200px
}

.logout-btn{
    margin-right:50px
}