* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

.content-container {
    margin-bottom: 20px;
}

.new-item-icon {
    margin-left: 10px;
}

.login-btn{
    margin-left: 100px;
}

.signup-btn{
    margin-left: 20px;
}

.account-btn{
    margin-right:200px
}

.logout-btn{
    margin-left: 100px;
}

.comment-text::after {
    content: "Submit";
}

.comment-container {
    margin: 1px;
    margin-bottom: 5px;
    border-left: 1px solid #aaa;
}

.comment-container .col-12 {
    padding-top: 5px;
}

#posts {
    margin: 20px;
    margin-bottom: 0;
    text-align: justify;
}

.post-details {
    border-top: 1px solid #ccc;
}

.posted-pre-text::before {
    content: "• ";
}

.vote-btns-container {
    text-align: right;
}

.vote-btn {
    margin-left: 10px;
    padding: 5px;
}

.vote-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 450px){
    .col-xs-6 {
        width: auto;
    }
    .comment-text::after {
        content: "";
    }
    .vote-btns-container {
        text-align: center;
    }
    #post-title {
        font-size: 25px;
    }
}